.htmlform{
    margin: 10px;
}

label{
    display: block;
    margin-bottom: 10px;
}

.resub{
    background-color: tomato;
    margin: 10px;
}

fieldset{
    font-style: italic;
    color: blue;
    background-color: aquamarine;
    margin: 10px;
}

.sres{
    background-color: mistyrose;
    margin: 10px;
}

.intype{
    background-color: beige;
    margin: 10px;
}