.table1 {
    border-collapse: collapse;
    margin-left: 10px;
    padding: 20px;
    text-align: center;
    background-color: mistyrose;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.table2{
    border-collapse: collapse;
    margin-left: 10px;
    padding: 20px;
    text-align: center;
    background-color: antiquewhite;
}